* {
    margin: 0;
    padding: 0;
}

.header {
    background: #e1e3e5;
    padding: 11px 30px;
    height: 43px;
}

.header-logo {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.input-error {
    border: 1px solid #ff0000;
}

.header-info {
    display: flex;
    align-items: center;
    float: right;
}

.error-login {
    color: #ff0000;
    font-size: 12.5px;
}

.header-info-username {
    padding-right: 10px;
}

.add-bug {
    padding: 11px;
    top: 11px;
    left: 11px;
    background: #b3b3b3;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    float: left;
}

.table-outer {

}

.main {
    position: relative;
    width: 100%;
    padding-top: 30px;
}

.main-table {
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.main-table-col {
    position: relative;
    float: left;
    width: 192px;
    margin-right: 10px;
}

.main-table-col-body::-webkit-scrollbar {
    width: 0;
}

.main-table-col:last-child {
    margin-right: 0;
}

.main-table-col-name {
    position: relative;
    width: 182px;
    float: left;
    padding: 10px 5px;
    background: #b3b3b3;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.main-table-col-body {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    overflow-y: visible;
    margin-top: 5px;
    border-radius: 10px;
}

.main-table-col-cell {
    position: relative;
    width: 182px;
    float: left;
    padding: 10px 5px;
    background: #e1e3e5;
    margin-top: 5px;
    border-radius: 10px;
    word-wrap: break-word;
}

.main-table-col-cell:first-child {
    margin-top: 0;
}

.button-new, .button-do, .button-test {
    position: relative;
    float: left;
    padding: 5px 10px;
    border-radius: 10px;
    background: #b10000;
    border: none;
    font-weight: bold;
    margin-top: 5px;
}

.main-form {
    position: relative;
    width: 173px;
    margin: auto;
    z-index: 2;
}

#button {
    position: relative;
    float: right;
    padding: 0 14px;
}

#login, #password {
    position: relative;
    float: left;
    margin-bottom: 10px;
}

#short-text, #full-text {
    position: relative;
    width: 250px;
    float: left;
    margin-bottom: 10px;
}

#full-text {
    height: 100px;
    resize: none;
}

.main-form2 {
    position: relative;
    width: 250px;
    margin: auto;
    z-index: 2;
}